body {
    background-color: #333;
    font-family: Sans-serif;
    margin: 0;
}

li {
  list-style-position: inside;
}

.item {
    border: 1px solid black;
    background-color: yellow;
}

.post_item {
    border: 1px solid black;
    background-color: ccc;
}


/***********************/
#main-title {
    z-index: 100;
    position: fixed;
    height: 30px;
    width: 960px;
    margin: 0;
    background-color: #333;
    color: orange;
    padding-top: 0.7em;
    text-align: center;
}

/***********************/
#main-navigation {
  position: fixed;
  top: 50px;
  width: 180px;
  background-color: #333;
  color: white;
  border: 1px solid black;
  margin-right: 20px;
  padding: 10px;
}

#main-navigation ul {
  list-style-type: none;
  padding-left: 0;
}

#main-navigation li {
  padding-bottom: 2px;
  margin: 20px 0px;
}

#main-navigation a {
  color: orange;
}

/***********************/
#main-toc {

}

/***********************/
#main-content {
  position: absolute;
  top: 50px;
  left: 220px;
  width: 760px;
  background-color: beige;
}

#main-content h1 {
  margin-top: 0;
  background-color: #666;
  color: orange;
  padding: 0.2em 1em;
}

#main-content h2 {
  background-color: #999;
  color: orange;
  padding: 0.2em 0.5em;
}

#main-content blockquote {
  background-color: olive;
  color: white;
  border: 1px solid orange;
  padding: 0 0.2em;
}

#main-content table {
  border 1px solid black;
  width: 100%;
  text-align: center;
}
