{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<h2 id="main-title">{{ .Title }}</h2>
<div id="main-content">
  <h1>Inhoud</h1>
  <div id="main-toc">
    {{ .TableOfContents }}
  </div>
  {{ .Content }}
</div>
{{ partial "footer.html" . }}
