<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="css/grid.css" type="text/css" media="all" />
 -->
<link href="{{ .Site.BaseURL }}css/site.css" rel="stylesheet">

{{ if .Params.math }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      TeX: {
          extensions: ["mhchem.js"]
      }
  });
</script>

<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{{ end }}

{{ if .Params.scroll4dev }}
<script>
  setTimeout(function () {
    window.scrollBy(0, window.innerHeight+100);
  }, 1000);
</script>
{{ end }}
