<nav id="main-navigation">
  <a href="{{ .Site.BaseURL }}">HOME</a>
  <ul>
      {{/* iterate over all menu's defined in config.toml */}}
      {{ range .Site.Menus.main }}
          {{/* don't show posts in the menu */}}
          {{ if ne .Identifier "post" }}
            <li class="dropdown">
              <p>{{ .Name }}</p>
              <ul>
                {{/* all pages that are from the same Section as the current
                  menu item's Identifier, are add as submenu's */}}
                {{ range where $.Site.Pages.Reverse "Section" .Identifier }}
                <li>
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
              </ul>
            </li>
          {{ end }}
      {{ end }}
  </ul>
</nav>
