{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<h2 id="main-title">{{ .Title }}</h2>
<div id="main-content">
  <h1>Nieuws</h1>
  {{ range where .Site.Pages "Section" "post" }}
      {{ .Render "li" }}
  {{ end }}
</div>
{{ partial "footer.html" . }}
